* {
  box-sizing: border-box;
  font-size: 0.75rem;
}

.main__container {
  height: 100%;
  width: calc(100% - 0.55rem);
  margin-left: 0.25rem;
}

.main__search-item {
  height: 4rem;
}

.main__dashboard-item {
  border-top: $border;
}

.main__search-results-item {
  border-top: $border;
  margin-top: 1rem;
  padding-top: 1rem;
}

.main__empty-item {
  height: 100%;
}
