$grey1: #fafbfb;
$grey2: #f7f8f8;
$grey3: #eeefef;
$grey4: #e0e2e2;
$grey5: #cbcfcf;
$grey6: #8c9393;
$grey7: #727979;
$grey8: #3e4c4c;
$grey9: #223030;
$grey10: #020303;
// $grey10: #e3e4e4;

$red1: #df2d24;

$invalid-color: $red1;
$border-color: rgba(203, 226, 226, 0.34);
$border: 1px solid $border-color;
